

.loginBox{
    width: 28%;
    height: 330px;
    margin: auto;
    margin-top: 11%;
    border-radius: 2%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label{
    margin-bottom: 2%;
    float: left;
}

.loginBox>div{
    margin-top: 5%;  
}

.loginBox>div:nth-child(3){
    margin-top: 8%; 
    width: 100%;
    float: right;
}

div>.btn{
    width: 22%;
    float: right;
    padding: 2.2% 5%;
    background-color: rgb(7, 7, 7);
    
}

#fullWidth{
    height: 13px;
}

span{
    font-size: 12px;
    float: left;
    color: rgb(236, 2, 2);
}