
.signBox{
    width: 27%;
    height: 520px;
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label{
    margin-bottom: 2%;
    float: left;
}

.signBox>div{
    margin-top: 7%;  
}

div>.btn{
    width: 25%;
    margin-top: 3%;  
    float: right;
    padding: 2.2% 5%;
    background-color: rgb(7, 7, 7);
    
}

#fullWidth{
    height: 13px;
}

span{
    font-size: 12px;
    float: left;
    color: rgb(236, 2, 2);
}